.current-issues{
    max-height: 360px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 30px;
}

.current-issues p{
    text-align: left;
    color: #F3F0F0;
    margin: 10px 0;
}

p span{
    display: inline-block;
    margin-left: 20px;
}

.current-issues p span, .description{
    color: white;
    opacity: 50%;
}

.current-issues .indv-issue{
    position: relative;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    color: #F3F0F0;
    opacity: 70%;
    margin-top: 0;
}

.current-issues hr{
    border: none;
    background:#F3F0F0;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
